.flashcard-container {
    position: relative;
    width: 100%;
    height: 300px;
    perspective: 1000px;
    display: flex;
    justify-content: flex-end;
  }
  
  .icon-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .icon {
    width: 30px;
    height: 30px;
  }
  
  .flashcard-container:hover .icon-container {
    opacity: 1;
  }
  
  .icon-container {
    opacity: 0.5;
  }
  
  
  .flashcard {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flashcard-container.flipped .flashcard {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
  }
  
  .front {
    background-color: #ffffff;
  }
  
  .back {
    background-color: #f0f0f0;
    transform: rotateY(180deg);
  }
  